body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    position:absolute;
	left:50%;
	top:50%;
	margin-left:-220px;
	margin-top:-250px;
}

h1 {
    margin: 30px;
    color: rgb(68, 84, 119);
}

.center{
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    color: #a2aabb;
    font-size: 10px;
    margin-top: -30px;
}